@use '@/scss/config/variables'as *;

.cta {
    padding: $u8 0;

    &__container {
        flex-direction: column;
        align-items: center;
        gap: $u4;
    }

    a {
        width: 100%;
        max-width: 400px;
    }

    button {
        width: 100%;
    }
}