@use '@/scss/config/variables'as *;
@use '@/scss/config/mixins'as *;

.hero {
    background-image: url("../../images/hero-bg-desktop.webp");
    background-size: cover;
    background-position: center center;
    height: 80vh;
    max-height: 850px;

    @include respond-to(md) {
        background-image: url("../../images/hero-bg-mobile.webp");
    }

    @include respond-to(sm) {
        background-image: url("../../images/hero-bg-mobile-2.webp");
    }

    &__subtitle.dark {
        @include respond-to(md) {
            color: var(--light) !important;
        }
    }

    &__bold {
        @include respond-to(md) {
            color: var(--secondary) !important;
        }
    }

    &__title.dark {
        @include respond-to(md) {
            align-items: center;
            color: var(--secondary);
        }
    }


    &__content {
        display: flex;
        flex: 1 1;
        flex-direction: column;
        justify-content: center;

        @include respond-to(md) {
            align-items: start;
            color: var(--light);
        }

    }

    &__link {
        width: 50%;

        @include respond-to(md) {
            width: 100%;
        }
    }

    &__img {
        flex: 1 1;
        display: flex;
        align-items: end;
        justify-content: center;

        @include respond-to(md) {
            display: none;
        }

        img {
            max-height: 90%;
        }
    }

    &__bold.dark {
        color: var(--dark);
        font-weight: 1000;
        font-size: 1.8rem;
        margin-top: $u5;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        min-width: 300px;
        gap: $u1;
        margin-top: $u2;

        @include respond-to(md) {
            width: 100%;
            align-items: start;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        width: 45%;

        svg {
            width: 1.6rem;
            min-width: 1.6rem;
            height: 1.6rem;
            min-height: 1.6rem;
            fill: red;
        }

        p {
            color: red;
            margin-left: $u2;

            @include respond-to(md) {
                align-items: center;
                color: var(--light);
            }
        }
    }

    &__btn {
        width: 100%;
        margin-top: $u5;
        padding: $u3;

    }


}